# Cloud MySQL Connection String
MYSQL_URL=mysql+pymysql://user:password@mysql_host:3306/db_name

# Cloud SQL Server Connection String
# For SQL Server on cloud, you typically use pyodbc with an ODBC driver.
SQLSERVER_URL=mssql+pyodbc://user:password@sqlserver_host:1433/db_name?driver=ODBC+Driver+17+for+SQL+Server
